*{
    margin:0;

}

body {
/*font-family: 'Roboto', sans-serif;*/
font-family: 'Nunito', sans-serif;
color:#424241;
font-size: 1em;
};

.container > label {
    display: inline-block;
    width: 140px;
    text-align: right; 
    line-height: 1.5;
    vertical-align: middle;
    /* margin-bottom: 8px; */
}

/*.at{
	width: 100%;
	background-color: #fa7d58;
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.b {
	float:right;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display:inline;
    background-color: #fa7d58;
    font-weight: 400;
    color:white;

}*/

.at {
    background-color: #fa7d58;
    float: right;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fa7d58;
    padding: 10px 15px 15px 10px;
    font-size: 30px;

}

li {
    float: right;
    text-decoration: none;
    color:black;
    list-style: none;
    font-size: 30px;



}

li a {
    display: inline-block;
    color: white;
    font-size: 20px;
    font-weight: 400;
/*    text-align: center;*/
    padding: 14px 16px;
    text-decoration: none;
    float:right;
    list-style: none;

}

nav {

	background: #fa7d58;
	width: 100%;
	height: 76px;
	/* position: fixed; */
	top: 0;
	left: 0;
	border-bottom: 4px solid #fa7d58;
	z-index: 100;

}


#main-logo{

	margin: 20px;
	float: left;
	width: 200px;
	height: 40px;
	background: url(../images/logo-white.png) no-repeat center;
	display: block;
  padding-left: 0px;
  padding-top: 10px;
  /* z-index: 1; */

}


#menu-icon {

	display: none;
	width: 40px;
	height: 40px;

	background: #fa7d58 url(../images/menu-icon.png) center;
  z-index: 1;
  background-repeat:no-repeat;

}

a:hover#menu-icon {

	background-color: #444;
	border-radius: 4px 4px 0 0;

}

.header{
    /*padding-left: 140px;
    padding-bottom: 70px;
    padding-top: 50px;*/
    display: block;

    margin-left: auto;
    margin-right: auto;
    width: 75%;
    padding-top: 0%;
    padding-bottom:8%;
}

/* .main-logo{
    padding-left: 50px;
    padding-top: 40px;
} */


.intro{
    background-color: #fa7d58;
    padding: 50px 50px 50px 150px;
    color:white;
    line-height: 1.5;
    font-weight: 600;
    font-size: 45px;
    letter-spacing: 2px;

}

.start{
    font-size: 35px;
    font-weight: 700;
    color:#fa7d58;
    text-align: center;
    padding-top: 80px;

}


.container{
    background-color: #fff7ed;
    padding-bottom: 300px;
    text-align: center;



}

label{

    display: inline-block;
    line-height: 1.5;
    vertical-align: middle;

    margin-bottom: 8px;
}

form{
    text-align: center;
}

/*//////////////////////////////////////*/

.surveyinputtext{
    appearance: none;
    -webkit-appearance: none; 
    -moz-appearance: none; 
    width: 30%;
    padding:12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #fff7ed;
    border:none;
    outline: none; 
    display: inline-block;
    border-bottom: 1px solid #bababa;

  }

.surveyinputemail{
    appearance: none;
    -webkit-appearance: none; 
    -moz-appearance: none; 
    width: 30%;
    padding:12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #fff7ed;
    border:none;
    outline: none; 
    border-bottom: 1px solid #bababa;
}

input[type=date]{
    color:black;
    border-radius: 12px;
    border: 1px solid #bababa;
    background-color: #fff7ed;
    padding:10px;
    width:170px;
    height:5px;
    margin-left: 10px;
}

input[type=checkbox]{
    display:none;
}

.dueDate{
    margin-top: 2%;
}

.dietLabel{
    margin-top: 2%;
}

.diet, .img{
    display: block;
    align-content: center;
}

.diet{
    display:block;
    width:100%;

}

.dietdiv {
    display:inline-block;
    margin:5%;
    width: 0.1%;
    margin-top: 0%;

}

.allergyName {
    color:red;
}

.allergy{
    text-align: center;
    display: block;
}

.allergydiv{
    display:inline-block;
    margin:5%;
    width: 0.1%;
    margin-top: 0%;

}

.button{
    background-color: #fa7d58;
    border: none;
    -webkit-appearance: none;
    color: #fff7ed;
    padding-right: 80px;
    padding-left:80px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    cursor: pointer;
    border-radius: 12px;
    border: 1px solid #fa7d58;
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;

}


footer{
    text-align: center;
    background-color: #fa7d58;
    padding: 20px 0px 20px 0px;
    bottom:0;
    position: fixed;
    width: 100%;

}

.footerAlternate{
    text-align: center;
    background-color: #fff7ed;
    padding: 20px 20px 20px 20px;
}

.email{
    color: #fff7ed;
    text-decoration: none;
    padding-bottom: 25px;
}

.emailAlternate{
color: #fa7d58;
    text-decoration: none;
    padding-bottom: 25px;
}

.paragraph{
    text-align: center;
    color: #bababa;
    font-weight:700;
    padding:.5%;
}

fieldset{
    border:0;
    padding-top: 3%;
}


#other{
    color:#bababa;
    border-radius: 12px;
    border: 1px solid #bababa;
    background-color: #fff7ed;
    padding:10px;
    width:400px;
    height:70px;
    margin-left: 10px;
}



/*thankyoupage////////////////////////////*/  /*THANKY YOU INPUT PAGE*/


.thankyou{
    font-weight: 700;
    color:#fa7d58;
    text-align: center;
    font-size: 70px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);

}

.thankyou-input{
    font-weight: 700;
    color:#fa7d58;
    text-align: center;
    font-size: 70px;
    padding-top: 5%;
    /*position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);*/

}

.urcode1{
    font-weight: 300;
    color:#fa7d58;
    text-align: center;
    font-size: 24px;

}

.urcode2{
    text-align: center;
    font-weight: 900;
    font-size: 24px;
}

.urcode3{
    text-align: center;
    padding: 30px;
}

.container-thankyou{
     background-color: #fff7ed;
     background-image: url(../images/bg3.png);
     min-height: 500px;
     /*width: 100%*/;
     background-size: contain;
     /*background-repeat: no-repeat;*/
       padding-bottom: 200px;

}

/*END OF THANK YOUS*/

.linktoregister{
    text-align: center;
    color: #fa7d58;
}

/*
FOR LOG IN PAGE AND REGISTER */

.background{
    background-color: #fa7d58;
    padding-bottom: 500px;
}

.login{
    padding-top: 10%;
    font-weight: 700;
    font-size: 55px;
    color:white;
}


 .logininput[type=email]{
    width: 30%;
    padding:12px 20px;
    padding-top: 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border:none;
    border-bottom: 1px solid white;
    font-family: 'Nunito', sans-serif;

}

textarea, input {
    outline: none;
}

.logininput{
    color:white;
    font-size: 14px;
    font-family: 'Nunito', sans-serif;

    background-color: #fa7d58;
}



.password[type=password]{
    width: 30%;
    padding:12px 20px;
    padding-top: 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border:none;
    display: inline-block;
    border-bottom: 1px solid white;
}

.submit-btn{
    background-color: white;
    border: none;
    color: #fa7d58;
    padding-right: 45px;
    padding-left:45px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    cursor: pointer;
    border-radius: 12px;
    border: 1px solid #fa7d58;
    margin-bottom: 100px;
    margin-top: 50px;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
}

.register, a{
    color:#bababa;
    font-size: 15px;
    font-weight: 300;
    padding-top: 25px;
}

.registername[type=text]{
    width: 30%;
    padding:12px 20px;
    padding-top: 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #fa7d58;
    border:none;
    display: inline-block;
    border-bottom: 1px solid white;
}


.agree[type=checkbox]{
    display:inline-block;
    padding-top: 100px; /*doesn't work*/
}

.sentence{
    color: white;
    font-size: 20px;
    padding-top: 10px;
}

/*END OF LOG IN AND REGISTER */


/*INPUT CODE PAGE//////////////*/

.input-code{
    padding-top: 10%;
    padding-bottom: 2%;
    font-weight: 700;
    font-size: 55px;
    color: #fa7d58;
    text-align: center;
}


.code-button{
      background-color: #fa7d58;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none; 
    color: #fff7ed;
    padding-right: 45px;
    padding-left:45px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    cursor: pointer;
    border-radius: 12px;
    border: 1px solid #fa7d58;
    margin-bottom: 80px;
    margin-top: 40px;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
}

.planner{
    padding-top: 15px;
}

#radio p {
    display: inline; 
}

#radio div {
    display: inline-block;
    margin-left: 1%;
}
.cus {
    margin: 0 10px 0 5px;
}

.cus:after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: #fff7ed;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid #ffe5d6;
    }

    .cus:checked:after {
        /* width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px; */
        /* position: relative; */
        background-color: #fa7d58;
        /* content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white; */
    }


/*SUMMARY RESULTS ////////////*/

.results-button{
    background-color: #fa7d58;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    color: #fff7ed;
    padding-right: 80px;
    padding-left:80px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    border-radius: 12px;
    border: 1px solid #fa7d58;
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
}

/*ABOUT PAGE ////////*/

.aboutParagraph{
    padding-top:20px;
    text-align: center;
    padding-bottom: 280px;
    padding-left: 80px;
    padding-right: 80px;
}

/*RECOMMENDATIONS*/

.dietdiv-recommendations {
    display:inline-block;
    /*margin-top: 5%;*/
    margin:3%;
    width: 0.1%;
    margin-top: 0%;
    font-size:12px;

}

.allergydiv-recommendations {
    display:inline-block;
    /*margin-top: 5%;*/
    margin:3%;
    width: 0.1%;
    margin-top: 0%;
    font-size:12px;

}

/* .caterers {
    column-count:2;
} */

.restaurantDescription {
    max-width: calc(30em*0.5);
    font-size:14px;
    /*white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /*max-width: 100px;*/
}

.catererImage{
    padding-top:5%;
    padding-left: 5%;
}

.catererdiv{
    padding-top: 5%;
    padding-left: 5%;
    display: inline-block;
}

/*SUMMARY RESULTS /////////////*/

.dietallergySummary {
    /*display:block;
    width:100%;*/
/*    column-count: 3;*/
margin-left: 5%;
margin-top: 5%;

}

.dietdivSummary{
    display:inline-block;
    margin:5%;
    /*width: 0.1%;*/
    margin-top: 0%;
}

.allergydivSummary{
    display:inline-block;
    margin:5%;
    /*width: 0.1%;*/
    margin-top: 0%;

}


.result-label{
    font-size: 24px;
    font-weight: 900;

}

.result-number{
    font-size: 24px;
    font-weight: 900;
    color:#fa7d58;
}

.allresults{
    text-align: center;
    padding-bottom: 8%;
}

.one{
    margin-right:2%;
}



.two{
    margin-left:2%;
}



/*
FULL RESULTS PAGE*/

.survey-people{
    column-count: 2;
    margin-left: 15%;
    margin-top: 5%;
    margin-bottom:5%;
}

.edit-delete{
    color:#fa7d58;
}

/*fULL RESULTS ENDS*/
